/AD/AADDT1UAX/build/
/AD/AADDT1UAX/dist/
/AD/AADDT1UAX/nbproject/private/
/AD/JDBCT2/target/
/AD/ExtraProgramacion/nbproject/private/
/AD/ExtraProgramacion/build/
/AD/FicherosJava/nbproject/private/
/AD/FicherosJava/build/
AD/FicherosJava/build.xml
*.jpg
AD/FicherosJava/manifest.mf
AD/FicherosJava/nbproject/build-impl.xml
AD/FicherosJava/nbproject/genfiles.properties
AD/FicherosJava/nbproject/project.properties
AD/FicherosJava/nbproject/project.xml
/AD/PostgreSQL/target/
AD/PostgreSQL/nbactions.xml
/AD/PostgreSQL/src/main/java/utils
/PMDM/RepasoExamen/.idea
PMDM/RepasoExamen/app/build.gradle.kts
PMDM/RepasoExamen/app/proguard-rules.pro
PMDM/RepasoExamen/app/src/androidTest/java/com/example/repasoexamen/ExampleInstrumentedTest.kt
PMDM/RepasoExamen/app/src/main/AndroidManifest.xml
PMDM/RepasoExamen/app/src/main/res/drawable/ic_launcher_background.xml
PMDM/RepasoExamen/app/src/main/res/drawable/ic_launcher_foreground.xml
PMDM/RepasoExamen/app/src/main/res/mipmap-anydpi/ic_launcher.xml
PMDM/RepasoExamen/app/src/main/res/mipmap-anydpi/ic_launcher_round.xml
/PMDM/RepasoExamen/app/src/main/res
/PMDM/RepasoExamen/app/src/test
PMDM/RepasoExamen/build.gradle.kts
PMDM/RepasoExamen/gradle.properties
PMDM/RepasoExamen/gradle/libs.versions.toml
PMDM/RepasoExamen/gradle/wrapper/gradle-wrapper.jar
PMDM/RepasoExamen/gradle/wrapper/gradle-wrapper.properties
PMDM/RepasoExamen/gradlew
PMDM/RepasoExamen/gradlew.bat
PMDM/RepasoExamen/settings.gradle.kts
/AD/Excepciones/target/
AD/Excepciones/nbactions.xml
AD/Excepciones/pom.xml
PMDM/RepasoExamenFinal/.idea/compiler.xml
PMDM/RepasoExamenFinal/.idea/deploymentTargetSelector.xml
PMDM/RepasoExamenFinal/.idea/gradle.xml
PMDM/RepasoExamenFinal/.idea/kotlinc.xml
PMDM/RepasoExamenFinal/.idea/migrations.xml
PMDM/RepasoExamenFinal/.idea/misc.xml
PMDM/RepasoExamenFinal/.idea/vcs.xml
PMDM/RepasoExamenFinal/app/build.gradle.kts
PMDM/RepasoExamenFinal/app/proguard-rules.pro
PMDM/RepasoExamenFinal/app/src/main/AndroidManifest.xml
PMDM/RepasoExamenFinal/app/src/main/res/drawable/ic_launcher_background.xml
PMDM/RepasoExamenFinal/app/src/main/res/drawable/ic_launcher_foreground.xml
PMDM/RepasoExamenFinal/app/src/main/res/layout/activity_main.xml
PMDM/RepasoExamenFinal/app/src/main/res/layout/activity_second.xml
PMDM/RepasoExamenFinal/app/src/main/res/mipmap-anydpi/ic_launcher.xml
PMDM/RepasoExamenFinal/app/src/main/res/mipmap-anydpi/ic_launcher_round.xml
PMDM/RepasoExamenFinal/app/src/main/res/mipmap-hdpi/ic_launcher.webp
PMDM/RepasoExamenFinal/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
PMDM/RepasoExamenFinal/app/src/main/res/mipmap-mdpi/ic_launcher.webp
PMDM/RepasoExamenFinal/settings.gradle.kts
PMDM/RepasoExamenFinal/gradlew.bat
PMDM/RepasoExamenFinal/gradlew
PMDM/RepasoExamenFinal/gradle/wrapper/gradle-wrapper.properties
PMDM/RepasoExamenFinal/gradle/wrapper/gradle-wrapper.jar
PMDM/RepasoExamenFinal/gradle/libs.versions.toml
PMDM/RepasoExamenFinal/gradle.properties
PMDM/RepasoExamenFinal/build.gradle.kts
PMDM/RepasoExamenFinal/app/src/test/java/com/example/repasoexamenfinal/ExampleUnitTest.kt
PMDM/RepasoExamenFinal/app/src/main/res/xml/data_extraction_rules.xml
PMDM/RepasoExamenFinal/app/src/main/res/xml/backup_rules.xml
PMDM/RepasoExamenFinal/app/src/main/res/values/themes.xml
PMDM/RepasoExamenFinal/app/src/main/res/values/strings.xml
PMDM/RepasoExamenFinal/app/src/main/res/values/dimens.xml
PMDM/RepasoExamenFinal/app/src/main/res/values/colors.xml
PMDM/RepasoExamenFinal/app/src/main/res/values-w600dp/dimens.xml
PMDM/RepasoExamenFinal/app/src/main/res/values-w1240dp/dimens.xml
PMDM/RepasoExamenFinal/app/src/main/res/values-v23/themes.xml
PMDM/RepasoExamenFinal/app/src/main/res/values-night/themes.xml
PMDM/RepasoExamenFinal/app/src/main/res/values-land/dimens.xml
PMDM/RepasoExamenFinal/app/src/main/res/navigation/nav_graph.xml
PMDM/RepasoExamenFinal/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
PMDM/RepasoExamenFinal/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
PMDM/RepasoExamenFinal/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
PMDM/RepasoExamenFinal/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
PMDM/RepasoExamenFinal/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
PMDM/RepasoExamenFinal/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
PMDM/RepasoExamenFinal/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
PMDM/RepasoExamenFinal/app/src/main/res/layout/activity_second.xml
*.xml
