/AD/AADDT1UAX/build/
/AD/AADDT1UAX/dist/
/AD/AADDT1UAX/nbproject/private/
/AD/JDBCT2/target/
/AD/ExtraProgramacion/nbproject/private/
/AD/ExtraProgramacion/build/
/AD/FicherosJava/nbproject/private/
/AD/FicherosJava/build/
AD/FicherosJava/build.xml
*.jpg
AD/FicherosJava/manifest.mf
AD/FicherosJava/nbproject/build-impl.xml
AD/FicherosJava/nbproject/genfiles.properties
AD/FicherosJava/nbproject/project.properties
AD/FicherosJava/nbproject/project.xml
