/AD/AADDT1UAX/build/
/AD/AADDT1UAX/dist/
/AD/AADDT1UAX/nbproject/private/
/AD/JDBCT2/target/
/AD/ExtraProgramacion/nbproject/private/
/AD/ExtraProgramacion/build/
/AD/FicherosJava/nbproject/private/
/AD/FicherosJava/build/
AD/FicherosJava/build.xml
*.jpg
AD/FicherosJava/manifest.mf
AD/FicherosJava/nbproject/build-impl.xml
AD/FicherosJava/nbproject/genfiles.properties
AD/FicherosJava/nbproject/project.properties
AD/FicherosJava/nbproject/project.xml
/AD/PostgreSQL/target/
AD/PostgreSQL/nbactions.xml
/AD/PostgreSQL/src/main/java/utils
/PMDM/RepasoExamen/.idea
PMDM/RepasoExamen/app/build.gradle.kts
PMDM/RepasoExamen/app/proguard-rules.pro
PMDM/RepasoExamen/app/src/androidTest/java/com/example/repasoexamen/ExampleInstrumentedTest.kt
PMDM/RepasoExamen/app/src/main/AndroidManifest.xml
PMDM/RepasoExamen/app/src/main/res/drawable/ic_launcher_background.xml
PMDM/RepasoExamen/app/src/main/res/drawable/ic_launcher_foreground.xml
PMDM/RepasoExamen/app/src/main/res/mipmap-anydpi/ic_launcher.xml
PMDM/RepasoExamen/app/src/main/res/mipmap-anydpi/ic_launcher_round.xml
/PMDM/RepasoExamen/app/src/main/res
/PMDM/RepasoExamen/app/src/test
PMDM/RepasoExamen/build.gradle.kts
PMDM/RepasoExamen/gradle.properties
PMDM/RepasoExamen/gradle/libs.versions.toml
PMDM/RepasoExamen/gradle/wrapper/gradle-wrapper.jar
PMDM/RepasoExamen/gradle/wrapper/gradle-wrapper.properties
PMDM/RepasoExamen/gradlew
PMDM/RepasoExamen/gradlew.bat
PMDM/RepasoExamen/settings.gradle.kts
/AD/Excepciones/target/
AD/Excepciones/nbactions.xml
AD/Excepciones/pom.xml
